.machine {
  position: relative;
  left: 0px;
  top: 0px;
  background: #f7df00 url(~@/assets/dlt_bg.jpg) no-repeat center top;
  background-size: 100% auto;
  max-width: 750px;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  canvas {
    width: 100%;
  }
}
#machineCanvas {
  margin-top: 5.35rem;
}
